{% extends 'layout.html' %}
{% load static %}
{% block import-css %}

{% endblock import-css %}
{% block inline-css %}
<style>
#container-button {
	position: absolute;
	top: -5px;
	right: 5px;
	margin: 0;
	padding: 0;
}
</style>
{% endblock inline-css %}
{% block content %}
<div class="block-header">
	<h2>Pengujian Data Uji</h2>

</div>

<div class="row clearfix">
	<div class="col-lg-8 col-md-8 col-sm-12">
		<div class="card">
			<div class="header" style="margin-bottom: 20px">
				<div id="container-button">
					<button id="btn-mulai-pengujian" type="button" class="btn-sm btn  btn-raised bg-light-blue waves-effect">Mulai Pengujian</button>
				</div>
			</div>
			<div class="body">
				<div class="table-responsive">
					<table id="data_pengujian_table" class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>CF Combine</th>
								<th>Target</th>
								<th>Klasifikasi</th>
								<th>Kesimpulan</th>
								<th>Action</th>
							</tr>
						</thead>
						
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12">
		<div class="card">

			<div class="body">
				<p>detail hasil pengujian disini</p>
				<p>jumlah data uji : <span id="total_data">{{ messages.total_data }}</span></p>
				<p>jumlah benar : <span id="total_benar">{{ messages.total_benar }}</span></p>
				<p>jumlah salah : <span id="total_salah">{{ messages.total_salah }}</span></p>
				<p>AKURASI: <span id="akurasi">{{ messages.akurasi }} %</span></p>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="pengujian_data_uji_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="card">
			<div class="modal-content">
				<div class="modal-header">
					<div class="header">
						<h2 id="pengujian-data-uji-modal-title">Detail Hasil Pengujian </h2>
					</div>
				</div>
				<form id="pengujian_data_uji_form" method="POST">
					<input type="hidden" name="id" value="id" id="id">
					<div class="modal-body">
						
						<div class="body">
							<div class="row clearfix">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<input required type="text" id="nama_pasien" name="nama_pasien" class="form-control" placeholder="Nama Pasien">
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="sex" name="sex">
											<option value="">-- sex --</option>
											<option value="1">1</option>
											<option value="0">0</option>
										</select>
									</div>
									
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<input required type="number" id="age" name="age" class="form-control" placeholder="age">
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="cp" name="cp">
											<option value="">-- cp --</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
									
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<input required type="number" id="trestbps" name="trestbps" class="form-control" placeholder="trestbps">
										</div>
									</div>
								</div>
								
								
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="fbs" name="fbs">
											<option value="">-- fbs --</option>
											<option value="0">0</option>
											<option value="1">1</option>
										</select>
									</div>
									
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">                               
									<div class="form-group">
										<div class="form-line">
											<input required type="number" id="chol" name="chol" class="form-control" placeholder="chol">
										</div>
									</div>                               
								</div>
								
								
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="restach" name="restach">
											<option value="">-- restach --</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
									</div>
									
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<input required type="number" id="thalach" name="thalach" class="form-control" placeholder="thalach">
										</div>
									</div>
								</div>
								
							</div>
							<div class="row clearfix">
								
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="exang" name="exang">
											<option value="">-- exang --</option>
											<option value="0">0</option>
											<option value="1">1</option>
										</select>
									</div>
									
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<input required type="number" id="oldpeak" name="oldpeak" class="form-control" placeholder="oldpeak">
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="slope" name="slope">
											<option value="">-- slope --</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
									</div>
									
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<input required type="number" id="target" name="target" class="form-control" placeholder="target">
										</div>
									</div>
								</div>
								
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="ca" name="ca">
											<option value="">-- ca --</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
									
								</div>
								
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="thal" name="thal">
											<option value="">-- thal --</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
									</div>
									
								</div>
							</div>
							<div class="col-sm-12" style="text-align:right">
								<button type="button" class="btn btn-raised" data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-raised g-bg-cyan">Submit</button>
							</div>
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<template  id="render-detail-button-template">
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-raised btn-circle waves-effect waves-circle waves-float bg-cyan" onclick="show_detail_modal('place_here')" title="detail"><i class="material-icons">format_align_justify</i> </button>

	</div>
	
</template>

{% endblock content %}
{% block import-js %}

{% endblock import-js %}

{% block inline-js %}
<script>

$(function() {
	$("#btn-mulai-pengujian").click(function(e) {
		$(".page-loader-wrapper").fadeIn();
		$.ajax({
			url: "{% url 'pengujian/pengujian_data_uji' %}",
			type: 'GET',
		})
		.done(function(response) {
			if (!response.success) {

			} else {

				$("#total_data").text(response.messages.total_data)
				$("#total_benar").text(response.messages.total_benar)
				$("#total_salah").text(response.messages.total_salah)
				$("#akurasi").text(response.messages.akurasi)
				$(".page-loader-wrapper").fadeOut();
				data_pengujian_table.ajax.reload(null, false);
				Swal.fire({icon: 'success', showConfirmButton: false, timer: 1000})

			}
		});
	})
	$("#pengujian_data_uji_modal").appendTo('body');
	$("#data_uji_form").submit(function(e) {
		e.preventDefault();

		let form_data = $(this).serialize(); 
		console.log(form_data);
		$.ajax({
			url: "{% url 'data-uji/insert_or_update' %}",
			type: 'POST',
			data: form_data,
		})
		.done(function(response) {
			if (!response.success) {

			} else {
				clearForm();
				data_pengujian_table.ajax.reload(null, false);
				$("#pengujian_data_uji_modal").modal('hide');
				Swal.fire({icon: 'success', showConfirmButton: false, timer: 1000})

			}
		});

	});

	$(document).on('submit', 'form#import_data_form', function(e) {
		e.preventDefault();
		var data = new FormData(this);

		var url = "#"
		$.ajax({
			type: "POST",
			url: url,
			dataType: 'json',
			data: data,
			cache: false,
			contentType: false,
			processData: false
		})
		.done(function(response) {
			if (response.success) {
				clearFormImport();
				data_pengujian_table.ajax.reload(null, false);
				$("#import_data_modal").modal('hide');
				Swal.fire({icon: 'success', showConfirmButton: false, timer: 1000})
			}
		});
		
	})

	$("#tambah_data_button").click(function(e) {
		show_tambah_modal();
	});

	$("#import_data_button").click(function(e) {
		show_import_modal();
	});

	let data_pengujian_table = $("#data_pengujian_table").DataTable({
		"processing": true,
		"serverSide": true,
		"ajax": "{% url 'pengujian/datatable_data_pengujian' %}",
		"columns": [

		{ "data": "data_uji_id" },
		{ "data": "cf_combine" },
		{ "data": "target" },
		{ "data": "kelas" },
		{ "data": null },
		{ "data": null },
		],
		"columnDefs": [ 
		{
			"targets": 4,
			"data": null,
			"sortable": true,
			"render" : function(data, type, row) {
				let cf_combine = row['cf_combine'];
				let klasifikasi = row['kelas'];
				let target = row['target'];
				if (klasifikasi == target) {
					return 'sesuai';
				}
				else {
					return 'tidak sesuai';
				}
			}
		},
		{
			"targets": -1,
			"data": null,
			"sortable": false,
			"render" : function(data, type, row) {
				return render_detail_template(row['data_uji_id']);
			}
		},

		],
		

	});
});

function checkKelas(cf_combine) {
	if (cf_combine >= 0.7)
		return 1;
	else 
		return 0;
}
function clearForm() {

	$("#data_uji_form").find('input').val('');
	$("#data_uji_form").find('select').val('');
}
function clearFormImport() {
	$('#hapus_seluruh_data').prop('checked', false); 

	$("#excel_file").val('');

}

function show_import_modal() {
	clearFormImport();
	$("#import_data_modal").modal('show');
}


function show_tambah_modal() {
	clearForm();
	$("#data-uji-modal-title").text('Form tambah data kiper');
	$("#pengujian_data_uji_modal").modal('show');
}

function show_delete_modal(id) {
	Swal.fire({
		icon : 'warning',
		title : 'Hapus data',
		text : 'Yakin ingin menghapus data?',
		allowOutsideClick: false,
		showCancelButton: true,
		confirmButtonText: 'Hapus',
		cancelButtonText: 'Jangan',

	})
	.then((res) => {
		if (res.value) {
			$.ajax({
				url: "{% url 'data-uji/delete' %}",
				type: 'POST',
				data: {id: id},
			})
			.done(function(response) {
				if (!response.success) {

				} else {
					$("#data_pengujian_table").DataTable().ajax.reload(null, false);
					Swal.fire({icon: 'success', showConfirmButton: false, timer: 1000})
				}
			});
		}
	} );



}
function show_detail_modal(id) {


	$.ajax({
		url: "{% url 'pengujian/detail' %}",
		type: 'POST',
		data: {id: id},
	})
	.done(function(response) {
		if (!response.success) {

		} else {
			$("#pengujian_data_uji_modal").modal('show');
		}
	});

}

function render_detail_template(id) {
	let tmpl = $("#render-detail-button-template").html();
	tmpl = tmpl.replace('place_here', id);

	return tmpl;

}
</script>
{% endblock inline-js %}