{% extends 'layout.html' %}
{% load static %}
{% block import-css %}

{% endblock import-css %}
{% block inline-css %}
{% endblock inline-css %}
{% block content %}
<div class="block-header">
	<h2>Diagnosa</h2>
</div>

<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="card">
			<div class="header">
				<ul class="header-dropdown">
					<li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
						<ul class="dropdown-menu float-right">
							<li><a href="javascript:void(0);" onclick="show_tambah_modal()" class=" waves-effect waves-block">Tambah</a></li>
							<li><a href="javascript:void(0);" onclick="" id="import_data_button" class=" waves-effect waves-block">Import Excel</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="body">
				<form id="pengujian_tunggal_form" method="POST">
					<div class="modal-body">
						
						<div class="body">
							
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="sex" name="sex">
											<option value="">-- sex --</option>
											<option value="1">1</option>
											<option value="0">0</option>
										</select>
									</div>
									
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<input required type="number" id="age" name="age" class="form-control" placeholder="age">
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="cp" name="cp">
											<option value="">-- cp --</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
									
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<input required type="number" id="trestbps" name="trestbps" class="form-control" placeholder="trestbps">
										</div>
									</div>
								</div>
								
								
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="fbs" name="fbs">
											<option value="">-- fbs --</option>
											<option value="0">0</option>
											<option value="1">1</option>
										</select>
									</div>
									
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">                               
									<div class="form-group">
										<div class="form-line">
											<input required type="number" id="chol" name="chol" class="form-control" placeholder="chol">
										</div>
									</div>                               
								</div>
								
								
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="restach" name="restach">
											<option value="">-- restach --</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
									</div>
									
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<input required type="number" id="thalach" name="thalach" class="form-control" placeholder="thalach">
										</div>
									</div>
								</div>
								
							</div>
							<div class="row clearfix">
								
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="exang" name="exang">
											<option value="">-- exang --</option>
											<option value="0">0</option>
											<option value="1">1</option>
										</select>
									</div>
									
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<input required type="number" id="oldpeak" name="oldpeak" class="form-control" placeholder="oldpeak">
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="slope" name="slope">
											<option value="">-- slope --</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
									</div>
									
								</div>
								
								
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="ca" name="ca">
											<option value="">-- ca --</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
									
								</div>
								
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group drop-custum">
										<select required class="form-control show-tick" id="thal" name="thal">
											<option value="">-- thal --</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
									</div>
									
								</div>
							</div>
							<div class="col-sm-12" style="text-align:right">
								<button type="button" class="btn btn-raised" data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-raised g-bg-cyan">Submit</button>
							</div>
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>







{% endblock content %}
{% block import-js %}

{% endblock import-js %}

{% block inline-js %}
<script>

$(function() {
	$(document).on('submit', 'form#pengujian_tunggal_form', function(e) {
		e.preventDefault();

		let form_data = $(this).serialize(); 
		$.ajax({
			url: "{% url 'pengujian/pengujian_tunggal' %}",
			type: 'POST',
			data: form_data,
		})
		.done(function(response) {
			if (!response.success) {

			} else {
				Swal.fire({icon: 'success', showConfirmButton: false, timer: 1000})

			}
		});

	});


	
});






</script>
{% endblock inline-js %}