{% extends 'layout.html' %}
{% load static %}
{% block import-css %}

{% endblock import-css %}
{% block inline-css %}
<style>
#container-button {
	position: absolute;
	top: -5px;
	right: 5px;
	margin: 0;
	padding: 0;
}

@media (min-width: 992px) {
	.modal-dialog {
		max-width: 80% !important;
	}
}
</style>
{% endblock inline-css %}
{% block content %}
<div class="block-header">
	<h2>Pengujian Data Uji</h2>

</div>

<div class="row clearfix">
	<div class="col-lg-8 col-md-8 col-sm-12">
		<div class="card">
			<div class="header" style="margin-bottom: 20px">
				<div id="container-button">
					<button id="btn-mulai-pengujian" type="button" class="btn-sm btn  btn-raised bg-light-blue waves-effect">Mulai Pengujian</button>
				</div>
			</div>
			<div class="body">
				<div class="table-responsive">
					<table id="data_pengujian_table" class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>CF Combine</th>
								<th>Target</th>
								<th>Klasifikasi</th>
								<th>Kesimpulan</th>
								<th>Action</th>
							</tr>
						</thead>
						
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12">
		<div class="card">

			<div class="body">
				<p>detail hasil pengujian disini</p>
				<p>jumlah data uji : <span id="total_data">{{ messages.total_data }}</span></p>
				<p>jumlah benar : <span id="total_benar">{{ messages.total_benar }}</span></p>
				<p>jumlah salah : <span id="total_salah">{{ messages.total_salah }}</span></p>
				<p>AKURASI: <span id="akurasi">{{ messages.akurasi }} %</span></p>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="pengujian_data_uji_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="pengujian-data-uji-modal-title">Detail Hasil Pengujian </h4>
			</div>
			<div class="modal-body">
				<div class="row ">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<div class="card">
							<div class="header">
								<h2>Data Variable</h2>
								
							</div>
							<div class="body">
								<div class="table-responsive">
									<table class="table table-hover table-striped" id="table-detail-variable">
										<thead>
											<tr>
												<th>variable</th>
												<th>nilai</th>
											</tr>
										</thead>
										
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12">
						<div class="card" style="margin-bottom: 0px !important;">
							<div class="header">
								<h2>RULES</h2>
								
							</div>
							<div class="body">
								<div id="content-rules">
									
								</div>
							</div>
						</div>

						<div class="card" style="margin-bottom: 0px !important;">
							<div class="header">
								<h2>Data Output</h2>
								
							</div>
							<div class="body">
								<div class="table-responsive">
									<table class="table table-hover table-striped">
										<thead>
											<tr>
												<th class="text-center">target</th>
												<th class="text-center">cf_combine</th>
												<th class="text-center">kelas prediksi</th>
												<th class="text-center">kesimpulan</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-center" id="td-target">1</td>
												<td class="text-center" id="td-cf_combine">1</td>
												<td class="text-center" id="td-kelas">1</td>
												<td class="text-center" id="td-kesimpulan">1</td>
											</tr>
										</tbody>
										
									</table>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>


<template  id="render-detail-button-template">
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-raised btn-circle waves-effect waves-circle waves-float bg-cyan" onclick="show_detail_modal('place_here')" title="detail"><i class="material-icons">format_align_justify</i> </button>

	</div>

</template>

{% endblock content %}
{% block import-js %}

{% endblock import-js %}

{% block inline-js %}
<script>

$(function() {
	$("#btn-mulai-pengujian").click(function(e) {
		// $(".page-loader-wrapper").fadeIn();
		$.ajax({
			url: "{% url 'pengujian/pengujian_data_uji' %}",
			type: 'GET',
		})
		.done(function(response) {
			if (!response.success) {

			} else {

				$("#total_data").text(response.messages.total_data)
				$("#total_benar").text(response.messages.total_benar)
				$("#total_salah").text(response.messages.total_salah)
				$("#akurasi").text(response.messages.akurasi)
				$(".page-loader-wrapper").fadeOut();
				data_pengujian_table.ajax.reload(null, false);
				Swal.fire({icon: 'success', showConfirmButton: false, timer: 1000})

			}
		});
	})
	$("#pengujian_data_uji_modal").appendTo('body');
	$("#data_uji_form").submit(function(e) {
		e.preventDefault();

		let form_data = $(this).serialize(); 
		console.log(form_data);
		$.ajax({
			url: "{% url 'data-uji/insert_or_update' %}",
			type: 'POST',
			data: form_data,
		})
		.done(function(response) {
			if (!response.success) {

			} else {
				clearForm();
				data_pengujian_table.ajax.reload(null, false);
				$("#pengujian_data_uji_modal").modal('hide');
				Swal.fire({icon: 'success', showConfirmButton: false, timer: 1000})

			}
		});

	});

	$(document).on('submit', 'form#import_data_form', function(e) {
		e.preventDefault();
		var data = new FormData(this);

		var url = "#"
		$.ajax({
			type: "POST",
			url: url,
			dataType: 'json',
			data: data,
			cache: false,
			contentType: false,
			processData: false
		})
		.done(function(response) {
			if (response.success) {
				clearFormImport();
				data_pengujian_table.ajax.reload(null, false);
				$("#import_data_modal").modal('hide');
				Swal.fire({icon: 'success', showConfirmButton: false, timer: 1000})
			}
		});

	})

	$("#tambah_data_button").click(function(e) {
		show_tambah_modal();
	});

	$("#import_data_button").click(function(e) {
		show_import_modal();
	});

	let data_pengujian_table = $("#data_pengujian_table").DataTable({
		"processing": true,
		"serverSide": true,
		"ajax": "{% url 'pengujian/datatable_data_pengujian' %}",
		"columns": [

		{ "data": "data_uji_id" },
		{ "data": "cf_combine" },
		{ "data": "target" },
		{ "data": "kelas" },
		{ "data": null },
		{ "data": null },
		],
		"columnDefs": [ 
		{
			"targets": 4,
			"data": null,
			"sortable": true,
			"render" : function(data, type, row) {
				let cf_combine = row['cf_combine'];
				let klasifikasi = row['kelas'];
				let target = row['target'];
				if (klasifikasi == target) {
					return 'sesuai';
				}
				else {
					return 'tidak sesuai';
				}
			}
		},
		{
			"targets": -1,
			"data": null,
			"sortable": false,
			"render" : function(data, type, row) {
				return render_detail_template(row['data_uji_id']);
			}
		},

		],


	});
});

function checkKelas(cf_combine) {
	if (cf_combine >= 0.7)
		return 1;
	else 
		return 0;
}
function clearForm() {

	$("#data_uji_form").find('input').val('');
	$("#data_uji_form").find('select').val('');
}
function clearFormImport() {
	$('#hapus_seluruh_data').prop('checked', false); 

	$("#excel_file").val('');

}

function show_import_modal() {
	clearFormImport();
	$("#import_data_modal").modal('show');
}


function show_tambah_modal() {
	clearForm();
	$("#data-uji-modal-title").text('Form tambah data kiper');
	$("#pengujian_data_uji_modal").modal('show');
}

function show_delete_modal(id) {
	Swal.fire({
		icon : 'warning',
		title : 'Hapus data',
		text : 'Yakin ingin menghapus data?',
		allowOutsideClick: false,
		showCancelButton: true,
		confirmButtonText: 'Hapus',
		cancelButtonText: 'Jangan',

	})
	.then((res) => {
		if (res.value) {
			$.ajax({
				url: "{% url 'data-uji/delete' %}",
				type: 'POST',
				data: {id: id},
			})
			.done(function(response) {
				if (!response.success) {

				} else {
					$("#data_pengujian_table").DataTable().ajax.reload(null, false);
					Swal.fire({icon: 'success', showConfirmButton: false, timer: 1000})
				}
			});
		}
	} );



}
function show_detail_modal(id) {


	$.ajax({
		url: "{% url 'pengujian/detail' %}",
		type: 'POST',
		data: {id: id},
	})
	.done(function(response) {
		if (!response.success) {

		} else {
			variables = response.messages.variables
			let tbody = "<tbody>";
			let row = '';
			for (var key in variables) {
				tr = `<tr><td>${key}</td><td>${variables[key]}</td></tr>`;
				row = row + tr;
			}
			tbody = tbody + row + "</tbody>";
			$("#table-detail-variable").find('tbody').remove();
			$("#table-detail-variable").append(tbody);
			
			$("#content-rules").html('');
			$("#content-rules").append(createTableRules(response.messages.data_pengujian.rules));
			$("#td-target").text(response.messages.data_uji.target);
			$("#td-cf_combine").text(response.messages.data_pengujian.cf_combine);
			$("#td-kelas").text(response.messages.data_pengujian.kelas);
			let kesimpulan = 'sesuai';
			if (response.messages.data_pengujian.kelas != response.messages.data_uji.target ) {
				kesimpulan = 'tidak sesuai';
			}
			$("#td-kesimpulan").text(kesimpulan);

			$("#pengujian_data_uji_modal").modal('show');

		}
	});

}

function createTableRules(content) {
	let responsive = $("<div/>", {class: "table-responsive"});
	let table = $("<table/>", {
		class: 'table table-bordered'
	})
	let thead = $("<thead/>")
	let tr_head = $("<tr/>")
	tr_head.append($("<th/>", {
		class: 'text-center', 
		text: 'NO', 
		rowSpan:2, 
		style: 'vertical-align:middle'}));
	for (var i in content.variables) {
		tr_head.append($("<th/>", {
			class: "text-center",
			text: content.variables[i],
			colSpan: 3,
		}));
	}
	tr_head.append($("<th/>", {
		class: 'text-center', 
		text: 'TARGET', 
		rowSpan:2, 
		style: 'vertical-align:middle'}));

	let tbody = $("<tbody/>");
	let tr_hbn = $("<tr/>");
	for (var i = 0; i < content.variables.length; i++) {
		tr_hbn.append($("<td/>", {
			text: 'H', 
			class:'text-center'}))
		.append($("<td/>", {
			text: 'B',
			class: 'text-center'}))
		.append($("<td/>", {
			text: 'N',
			class: 'text-center'}));
	}
	for (var i = 0; i < content.himpunan.length; i++) {
		let tr_body = $("<tr/>");
		tr_body.append($("<td/>", {text: i + 1}));
		for (var j = 0; j < content.himpunan[i].length; j++) {
			let tdhimpunan = $("<td/>", {style: 'white-space: nowrap', text: content.himpunan[i][j]})
			let tdbobot = $("<td/>", {style: 'white-space: nowrap', text: content.bobot[i][j]})
			let tdnilai = $("<td/>", {style: 'white-space: nowrap', text: content.nilai[i][j]})
			tr_body.append(tdhimpunan);			
			tr_body.append(tdbobot);			
			tr_body.append(tdnilai);			
		}
		tr_body.append($("<td/>", {text: content.target_rule[i]}));
		tbody.append(tr_body);
	}

	thead.append(tr_head)
	thead.append(tr_hbn);
	table.append(thead);
	table.append(tbody);
	responsive.append(table)
	return responsive
}
function render_detail_template(id) {
	let tmpl = $("#render-detail-button-template").html();
	tmpl = tmpl.replace('place_here', id);

	return tmpl;

}
</script>
{% endblock inline-js %}